extends layout

block content
  h1= title
  - const items = results;
  div(class="container-fluid")
    div(class="row m-1")
      each item in items
        - let destination = `dispatch(\"/Novel/update?id=${item._id}\")`
        div(class="row-sm-2", class="m-1") Item #{item.Novel_type}(#{item.size}) is #{item.cost}
          button.btn( class="btn-primary ml-1", onclick= destination) Update
  script.
    function dispatch(path){
      window.location.href=path
    }

  .container-fluid
    .row
      each Novel, index in items
        div(class="col-sm-2" onclick=`buy(${index})`)
          h3 #{Novel.Novel_type}